* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: 0 auto;
  border: 1px solid red;
}

#mainContainer {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  flex: 0 0 20%;
  border: 1px solid black;
  padding: 5px;
}